@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #591edf;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #fbf8f3;
}
header nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}
header nav .links ul {
  display: flex;
  list-style: none;
}

header nav .links ul li {
  margin-left: 20px;
  color: #000000c6;
}
header nav .links ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
}
header nav .sign a {
  text-decoration: none;
}

header nav .sign :nth-child(1) {
  color: #000000c6;
  margin-right: 15px;
  font-weight: 600;
}
header nav .sign :nth-child(2) {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 10px;
  border-radius: 5px;
}
section.landing {
  padding: 80px 0;
  background-color: #fbf8f3;
}
section .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
section .container .right {
  display: flex;
  justify-content: start;
}
section .container .right img {
  width: 550px;
}
section .container .left {
  justify-content: center;
}
.landing .container .left span {
  color: gold;
  font-size: 1.25rem;
}

.landing .container .left h1 {
  color: #0d0d0d;
  font-size: 3rem;
  font-weight: 700;
  max-width: 533px;
  margin: 15px 0;
}
.landing .container .left p {
  color: #000000b5;
  font-size: 16px;
  max-width: 500px;
  line-height: 24px;
  margin-bottom: 40px;
}
.landing .container .left .btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.landing .container .left .ex {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
}
.landing .container .left .check {
  display: flex;
  margin-top: 30px;
  gap: 15px;
}
.landing .container .left .check i {
  color: #43b29e;
}
